# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps

import os


# Import API key
from vacation_api_key import g_key

from ipywidgets.embed import embed_minimal_html

# Remember to run these !!:
# jupyter nbextension enable --py gmaps
# pip install gmaps
# http://localhost:8080 in your google bar AND  python -m http.server 8080 in your terminal, first

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load cvs file from WeatherPy homework.

wd = "../output_data/ow0.csv"
wd1 = pd.read_csv(wd)

wd2 = wd1.dropna()
del wd2["Unnamed: 0"]

wd2

,City,Lat,Lng,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Khatanga,71.97,102.50,0.37,87,0,12.08,RU,1603975600
1,Chernyshevskiy,63.01,112.47,7.09,88,100,11.97,RU,1603975600
2,Mossamedes,-15.20,12.15,75.29,71,5,14.74,AO,1603975600
3,Vaini,-21.20,-175.20,68.00,77,20,5.82,TO,1603975601
4,Mar del Plata,-38.00,-57.56,55.40,62,75,16.11,AR,1603975559
...,...,...,...,...,...,...,...,...,...
550,Sūsangerd,31.56,48.18,93.20,16,7,4.70,IR,1603975678
551,Tres Picos,15.87,-93.53,77.86,76,43,3.78,MX,1603975678
552,Pasni,25.26,63.47,82.09,43,0,7.29,PK,1603975448
553,Poum,-20.23,164.02,76.28,75,0,18.21,NC,1603975679
554,Honiara,-9.43,159.95,77.00,100,75,4.43,SB,1603975679

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Use the Lat and Lng as locations and Humidity as the weight
loc = wd2[["Lat", "Lng"]]
hum = wd2["Humidity"]

In [4]:
# Add Heatmap layer to map
hm = gmaps.figure()

hm0 = gmaps.heatmap_layer(loc, weights=hum,dissipating=False, max_intensity=100,point_radius=2)

hm.add_layer(hm0)

hm

Figure(layout=FigureLayout(height='420px'))

In [5]:
hm = gmaps.figure()

#These two didn't work as I was hoping they would

# embed_minimal_html('humidity_heatmap_1.html', views=[hm])

# plt.savefig("../output_data/humidity_heatmap")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to find your ideal weather condition.

# A max temperature lower than 80 degrees but higher than 70.
mt = wd2[wd2["Temp Max"] < 80]
mt1 = mt[mt["Temp Max"] > 70]

# Wind speed less than 10 mph.
ws = mt1[mt1["Wind Speed"] < 10]

hu = ws[ws["Humidity"] >50]

# # Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
iw = hu[hu["Cloudiness"] == 0]

iw1 = iw.reset_index(drop = True)

iw1

# 17 cities without adding hu constraing. Add additional hu constraints.

,City,Lat,Lng,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date
0,Dumbéa,-22.15,166.45,75.2,60,0,8.05,NC,1603975619
1,Barbacena,-21.23,-43.77,78.8,57,0,9.17,BR,1603975627
2,Bowen,-20.02,148.23,73.4,88,0,3.36,AU,1603975633
3,Marawi,8.00,124.29,79.0,89,0,4.00,PH,1603975652
4,Nador,35.17,-2.93,73.4,56,0,6.93,MA,1603975655

In [7]:
# Narrow down the DataFrame to find your ideal weather condition.

hm1 = iw1[["Lat", "Lng"]]
hm2 = iw1["Humidity"]

hm3 = gmaps.figure()

hm4 = gmaps.heatmap_layer(hm1, weights=hm2, dissipating=False, max_intensity=50,point_radius=2.5)

hm3.add_layer(hm4)

hm3

Figure(layout=FigureLayout(height='420px'))

In [8]:
hm3 = gmaps.figure()

#These two didn't work out as I was hoping they would.

# embed_minimal_html('heatmap_select_cities_1.html', views=[hm3])

# plt.savefig("../output_data/heatmap_select_cities")

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Find the first hotel for each city located within 5000 meters of your coordinates

h = []

for x in range(len(iw1["City"])):

    lat = iw1.loc[x]["Lat"]
    lng = iw1.loc[x]["Lng"]

    p = {
        "location": f"{lat},{lng}", 
        "types": "lodging",
        "radius": 5000,
        "key": g_key
    }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    h_req = requests.get(base_url, params=p)
    h_resp = h_req.json()

    try:
        h.append(h_resp["results"][0]["name"])
    except:
        h.append("Hotel located within 5,000 meters of coord. is not available.")

# Dataframe with nearest hotel
iw1["Hotel Name"] = h
iw1

,City,Lat,Lng,Temp Max,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Dumbéa,-22.15,166.45,75.2,60,0,8.05,NC,1603975619,"Tour du Monde, le gîte des voyageurs en Nouvel..."
1,Barbacena,-21.23,-43.77,78.8,57,0,9.17,BR,1603975627,Faculdade Senac Minas - Campus Barbacena
2,Bowen,-20.02,148.23,73.4,88,0,3.36,AU,1603975633,Castle Motor Lodge Motel
3,Marawi,8.00,124.29,79.0,89,0,4.00,PH,1603975652,Derogongan Residence
4,Nador,35.17,-2.93,73.4,56,0,6.93,MA,1603975655,Airport hotel

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in iw1.iterrows()]
locations = iw1[["Lat", "Lng"]]

In [11]:
# Plot the hotels on top of the humidity heatmap

mk = gmaps.marker_layer(locations, info_box_content=hotel_info)

hm3.add_layer(mk)

hm3

Figure(layout=FigureLayout(height='420px'))